<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - Impression Site</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <style type='text/css'>
            body {
                padding-top: 50px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
        <script src="/javascripts/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".comment").on("set-top-value", function(){
                    $(this).css({"top" : Math.floor(Math.random() * 23) * 4 + "%"});
                    switch (Math.floor(Math.random() * 4)) {
                        case 0:
                            $(this).attr("class","comment text-warning");
                            break;
                        case 1:
                            $(this).attr("class","comment text-error");
                            break;
                        case 2:
                            $(this).attr("class","comment text-info");
                            break;
                        case 3:
                            $(this).attr("class","comment text-success");
                            break;
                    }
                });

                $(".comment").on("comment-rightmost", function(){
                    if ($(this).prop('style')['left']=="110%") {
                        $(this).animate({"left": "-70%"}, 8000 + Math.random() * 2000, 'linear', function() {
                            $(".comment").trigger("comment-leftmost");
                        });
                    }
                });
                $(".comment").on("comment-leftmost", function(){
                    if ($(this).prop('style')['left']=="-70%") {
                        $(this).css({"left": "110%"});
                    }
                    $(".comment").trigger("comment-rightmost");
                });
                $("#button2").on('click', function(){
                    $(".comment").css({"left": '110%'});
                });
                $(".comment").trigger("set-top-value");
                $(".comment").trigger("comment-rightmost");
            });
        </script>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Impression Site</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">Main Page</a></li>
                            <% if (currentUser) { %>
                            <li><a href="/u/<%= currentUser.name %>">Impression on me</a></li>
                            <% } %>
                            <% if (!currentUser) { %>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/reg">Sign up</a></li>
                            <% } else { %>
                            <li><a href="/logout">Log out</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>              
            </div>
        </div>

        <div id="container" class="container">