<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - Impression Site</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <style type='text/css'>
            body {
                padding-top: 50px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Impression Site</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="/">Main Page</a></li>
                            <% if (currentUser) { %>
                            <li><a href="/u/<%= currentUser.name %>">Impression on me</a></li>
                            <% } %>
                            <% if (!currentUser) { %>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/reg">Sign up</a></li>
                            <% } else { %>
                            <li><a href="/logout">Log out</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>              
            </div>
        </div>

        <div id="container" class="container">